div{
  color: red;
}


.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
background-color: rgb(32, 32, 51);
display: flex;
align-items: center;
justify-content: center;
}

.Title{
  display: flex; 
  align-items: center;
  width: min(35vh,35vw);
  justify-content: space-evenly;
  margin-top: 10vh;
  margin-left: 10%;
}
.Title>.cell,.Game{
  height: min(7vh,7vw);
  width: min(7vh,7vw);
  font-size:min(10vh,10vw);
}

.Game{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

table{
  margin-top: 2vh;
}

.cell{

  height: min(12vh,12vw);
  width: min(12vh,12vw);
  font-size:min(12vh,12vw) ;
  border-radius: 10%;
  background-color: #F8EFBA;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black 20px;
}

.number{
  height: 50%;
  width: 50%;
  text-shadow: black 2px;
  font-size: 37%;
  color: azure;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 0 0 rgb(22, 22, 22), -2px 0 0 rgb(15, 15, 15), 0 2px 0 rgb(17, 17, 17), 0 -2px 0 rgb(8, 8, 8), 1px 1px rgb(17, 17, 17), -1px -1px 0 rgb(10, 10, 10), 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.ScoresContainer{
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  margin-top: 6vh;

}

.btn{
    width: 23%;
    height: 14%;
    font-size: 80%;
    text-align: center;
}

.instruction{
  color: #a2a50a4f;
  font-size: 80%;
  text-align: center;
}


.color-2{
  /* background-color: aqua; */
  background-color: #ff6933e8;
}

.color-4{
  
  background-color: #ddbe0c;
}

.color-8{
  background-color:#e00a6e;
}
.color-16{
  background-color:#0060aa;
}
.color-32{
  background-color:#1a9b5f;
}
.color-64{
  background-color:#8c09c0;
}
.color-128{
  background-color:#ca2828
}
/* .color-256{
  background-color:#20b90c;
}
.color-512{
  background-color:#aa2a66;2204cf
}
.color-1024{
  background-color:#0bf11e;
 
}
.color-2048{
  background-color:#f00638;
} */




